<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sysu.sdcs.order.analysis.dao.mapper.OrderDetailMapper">
	<cache/>
	<select id="findById" parameterType="long" resultType="org.sysu.sdcs.order.analysis.model.po.OrderDetail">
		SELECT order_detail.id AS 'id',
		order_detail.order_id AS 'order',
		order_detail.goods_id AS 'goods',
		order_detail.goods_count AS 'count',
		order_detail.goods_price AS 'price'
		FROM order_detail
		WHERE id=#{id}
	</select>
	<select id="findAll" resultType="org.sysu.sdcs.order.analysis.model.po.OrderDetail">
		SELECT order_detail.id AS 'id',
		order_detail.order_id AS 'order',
		order_detail.goods_id AS 'goods',
		order_detail.goods_count AS 'count',
		order_detail.goods_price AS 'price'
		FROM order_detail
	</select>
</mapper>