<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="Info"
			fileName="${sys:user.home}/logs/order_analysis/info.log"
			filePattern="${sys:user.home}/logs/order_analysis/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="info" />
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
				<RollingFile name="Warn"
			fileName="${sys:user.home}/logs/order_analysis/warn.log"
			filePattern="${sys:user.home}/logs/order_analysis/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="warn" />
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
				<RollingFile name="Error"
			fileName="${sys:user.home}/logs/order_analysis/error.log"
			filePattern="${sys:user.home}/logs/order_analysis/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="error" />
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Info" />
			<AppenderRef ref="Warn" />
			<AppenderRef ref="Error" />
		</Root>
	</Loggers>
</Configuration>  